button {
  cursor: pointer;
}
.scroll-container {
  height: 80vh;
  overflow: auto;
  padding: 0 10px 10px;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(53, 32, 175, 0.3);
  border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(53, 32, 175, 0.7);
}
app-shape-details {
  display: block;
}
