<hr>
<i (click)="isCollapsed = true" [hidden]="isCollapsed" class="fa fa-chevron-down" aria-hidden="true"></i>
<i (click)="isCollapsed = false" [hidden]="!isCollapsed" class="fa fa-chevron-up" aria-hidden="true"></i>
<input [(ngModel)]="figureDetails.name" placeholder="Назва фігури" [style.color]="figureDetails.color" />
<button (click)="removeShape(figureIndex)" type="button" class="btn btn-link btn-sm">
  <i class="fa fa-trash-o" aria-hidden="true"></i>
</button>
<button type="button" class="coordinate-button btn btn-link btn-sm">
  <i class="fa fa-arrows drag-shape" aria-hidden="true"></i>
</button>
<div [class]="isCollapsed ? 'shape-details collapsed' : 'shape-details'">
  <p>
    Color:
  </p>
  <div class="color-picker">
    <input (colorPickerChange)="figureDetails.color=$event" [colorPicker]="figureDetails.color" [value]="figureDetails.color"
    />
    <div class="example" [style.background]="figureDetails.color"></div>
  </div>

  <p>
    Coordinates:
  </p>
  <div droppable draggable [dragHandle]="'.drag-coordinate'" [dragScope]="[figureIndex]" [dropScope]="[figureIndex]" [dragData]="{coordinates: coordinate, startIndex: index}"
    (onDrop)="onCoordinateDrop($event, index)" class="input-container" *ngFor="let coordinate of figureDetails.coordinates; let index = index">
    <label class="float-left">{{index + 1}}</label>
    <input [(ngModel)]="coordinate.x" class="form-control input-sm" placeholder="x" type="number">
    <input [(ngModel)]="coordinate.y" class="form-control input-sm" placeholder="y" type="number">
    <button type="button" class="coordinate-button btn btn-link btn-sm" (click)="removeCoordinate(index)">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <button type="button" class="coordinate-button btn btn-link btn-sm">
      <i #dragHandle class="fa fa-arrows drag-coordinate" aria-hidden="true"></i>
    </button>
  </div>

  <button class="btn btn-sm btn-primary" (click)="addCoordinate()">
    +
  </button>
</div>